:root{

--basic-text: rgba(17, 17, 17, 1);
--secondary-dark-text:rgba(17, 17, 17, 0.7);
--secondary-white-text: rgba(255, 255, 255, 0.7);
--first-white-text:rgba(255, 255, 255, 1);
--basic-title: rgba(255, 255, 255, 1);
--accent-text: rgba(253, 146, 34, 1);
--basic-background: rgba(250, 250, 250, 1);
--secondary-background:rgba(30, 24, 35, 1);


}

ul,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

